/*
 * This is the CSS stylesheet for the demo people application
 */

 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

 body, .ui-btn {
     font-family: Roboto;
 }
 
 .container {
     padding: 10px;
 }
 
 .banner {
     text-align: center;
 }
 
 .editor {
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     padding: 5px;
     border: 1px solid lightgrey;
     border-radius: 3px;
     margin-bottom: 5px;
 }
 
 label {
     display: inline-block;
     margin-bottom: 5px;
 }
 
 button {
     padding: 5px;
     margin-right: 5px;
     border-radius: 3px;
     background-color: #eee;
 }
 
 .message {
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 5px;
 }

 .message_by_user {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}
 
 table {
     width: 100%;
     border-collapse: collapse;
 }
 
 table, caption, th, td {
     border: 1px solid lightgrey;
 }
 
 table caption {
     height: 33px;
     font-weight: bold;
     padding-top: 5px;
     border-bottom: none;
 }
 
 tr {
     height: 33px;
 }
 
 /*
 tr:nth-child(even) {
     background-color: #f0f0f0
 }
*/

 .rootMessage
 {
    background-color: #b0f0b6 
 }

 .replyMessage td
 {
    background-color: #96bbb7;
    position: relative;  
    left: 60px;  
 }

 .replyMessage_btn
 {
    visibility: hidden;
 }

 td {
     text-align: center;
 }
 
 .error {
     width: 50%;
     margin-left: auto;
     margin-right: auto;
     padding: 5px;
     border: 1px solid lightgrey;
     border-radius: 3px;
     background-color: #fbb;
     visibility: hidden;
 }

 {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup - hidden by default */
.reply-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the container */
.reply-popup {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.reply-popup input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.reply-popup input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
  
/* Set a style for the reply/close  button */
.reply-popup .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add some hover effects to buttons */
.reply-popup .btn:hover, .open-button:hover {
    opacity: 1;
}