<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="static/css/home.css">
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>
    <div class="container">
        <h1 class="banner">Roteit</h1>
        <div class="section editor">
            <input id="message_id" type="hidden" value="" />
            <input id="parent_id" type="hidden" value="0" />
            <label for="name">Name
                    <input id="name" type="text" />
                </label>            
            <label for="post">Message
                <input id="post" type="text" />
            </label>
            <button id="create">Post</button>
        </div>
        <div class="message">
            <table>
                <caption>All Forum Posts</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Post</th>
                        <th>Update Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="all_messages_table">
                </tbody>
            </table>
        </div> 
        <br>
        <div class="section editor">
            <input id="message_id" type="hidden" value="" />
            <label for="findname">Name
                    <input id="findname" type="text" />
            </label>            
            <button id="find">Find</button>
        </div>        
        <div class="message_by_user">
            <table>
                <caption>Forum Posts by User</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Post</th>
                        <th>Update Time</th>
                    </tr>
                </thead>
                <tbody id="user_messages_table">
                </tbody>
            </table>
        </div>                  
        <div class="error">
        </div>
    </div>
    <div class="reply-popup" id="reply">
        <h1>Reply</h1>
        <input id="message_id" type="hidden" value="" />
        <input id="parent_id" type="hidden" value="0" />
        <label for="name">Name
                <input id="name_reply" type="text" />
            </label>            
        <label for="post">Message
            <input id="post_reply" type="text" />
        </label>
        <button id="create_reply" class="btn" onclick="closeForm()">Reply</button>
        <button class="btn cancel" onclick="closeForm()">Close</button>
    </div>
</body>
<script src="static/js/home.js"></script>
</html>